build/
out/
b_build/
dist/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
CMakeUserPresets.json
.vs/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.zip
*.7z
*.rar
*.user
*.suo
*.autosave
